{% extends 'base.html' %}
{% block content %}

<h3>Police Dashboard</h3>

<table class="table">
<tr>
    <th>User</th>
    <th>Location</th>
    <th>Status</th>
    <th>Action</th>
</tr>

{% for alert in alerts %}
<tr>
    <td>{{ alert.user.username }}</td>

    <td>
        <a href="https://www.google.com/maps?q={{ alert.location }}" target="_blank">
            View Map 📍
        </a>
    </td>

    <td>{{ alert.status }}</td>

    <td>
        <a href="{% url 'update_alert' alert.id 'accept' %}" class="btn btn-success btn-sm">Accept</a>
        <a href="{% url 'update_alert' alert.id 'reject' %}" class="btn btn-danger btn-sm">Reject</a>
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}